/** {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(90deg, #e2e2e2, #c9d6ff);
}

.container {
    position: relative;
    width: 500px;
    height: 450px;
    background: #fff;
    border-radius: 30px;
    margin: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .container h1 {
        font-size: 45px;
        margin: -10px 0;
    }

.form-box {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 40px;
    background: #fff;
    padding: 40px;
}

.input-box {
    position: relative;
    margin: 30px 0;
}

    .input-box input {
        width: 100%;
        padding: 13px 50px 13px 20px;
        background: #eee;
        border-radius: 8px;
        border: none;
        outline: none;
        font-size: 16px;
        color: #333;
        font-weight: 500;
    }

#btnLogin {
    width: 100%;
    height: 48px;
    background: #7494ec;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    margin: 20px 0;
}

#lblMessage {
    color: #ff0000;
}*/
/* Style cho icon con mắt */
/*.toggle-icon {
    position: absolute;
    right: 15px;*/ /* Căn lề phải, nằm gọn trong vùng padding 50px của input */
    /*top: 50%;*/ /* Đưa xuống giữa theo chiều dọc */
    /*transform: translateY(-50%);*/ /* Căn giữa chính xác */
    /*cursor: pointer;*/ /* Hiện bàn tay khi di chuột vào */
    /*color: #555;*/ /* Màu xám cho icon */
    /*font-size: 18px;*/ /* Kích thước icon */
    /*z-index: 10;*/ /* Đảm bảo icon nổi lên trên input */
/*}*/

    /* Hiệu ứng khi di chuột vào icon */
    /*.toggle-icon:hover {
        color: #7494ec;*/ /* Đổi màu xanh giống nút Login */
    /*}*/