<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.CarRentalDBConnectionString"
            connectionString="Data Source=LAPTOP-T4M99QFV;Initial Catalog=CarRentalDB;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.Properties.Settings.CarRentalDBConnectionString1"
            connectionString="Data Source=DESKTOP-DHP64SV;Initial Catalog=CarRentalDB;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.Properties.Settings.CarRentalDBConnectionString2"
            connectionString="Data Source=LMT;Initial Catalog=CarRentalDB;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>